PUSATPANELSMM_API_URL=https://pusatpanelsmm.com/api/json.php
PUSATPANELSMM_API_KEY=
PUSATPANELSMM_SECRET_KEY=
APK_PREMIUM_DATA_SOURCE=seed
SMM_DATA_SOURCE=provider-live
DATABASE_URL_APK=
DATABASE_URL_SMM=
NEXT_PUBLIC_SOCIAL_MEDIA_URL=
NEXT_PUBLIC_APK_PREMIUM_URL=
NEXT_PUBLIC_OTP_URL=
NEXT_PUBLIC_BOT_RENTAL_URL=
